build-LED-Tester-Desktop_Qt_5_12_6_MinGW_64_bit-Debug/
build-LED-Tester-Desktop_Qt_5_12_6_MinGW_64_bit-Release/
build-LED-Tester-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/
build-LED-Tester-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/Makefile
build-LED-Tester-Desktop_Qt_5_14_1_MinGW_32_bit-Debug/moc_index.cpp
build-LED-Tester-Desktop_Qt_5_14_1_MinGW_32_bit-Release/
